{% extends "layout.html" %}

{% block body %}
    {% block alert %}
        {{ super() }}
    {% endblock %}

    {% block content %}
        <div id="content">
            <div class="container">
                <h1>About</h1>
                <h2>Author</h2>
                <p>
                    Impala is written by Tijl Van Assche &lt;<a href="mailto:tijlvanassche@gmail.com">tijlvanassche@gmail.com</a>&gt;.
                </p>
                <h2>Source code</h2>
                <p>The source code is available on <a href="http://github.com/vetl/impala">Github</a>.</p>
                <h2>Copyright and license</h2>
                <p>Copyright 2014 Tijl Van Assche</p>
                <p>
                    Impala is free software: you can redistribute it and/or modify
                    it under the terms of the GNU General Public License as published by
                    the Free Software Foundation, either version 3 of the License, or
                    (at your option) any later version.
                </p>
                <p>
                    Impala is distributed in the hope that it will be useful,
                    but WITHOUT ANY WARRANTY; without even the implied warranty of
                    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                    GNU General Public License for more details.
                </p>
                <p>
                    You should have received a copy of the GNU General Public License
                    along with Impala.  If not, see <a href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a>.
                </p>
                <h2>Credits</h2>
                <p>Impala makes use of the following software libraries and frameworks:</p>
                <ul>
                    <li><a href="https://github.com/Mic92/python-mpd2">python-mpd2</a></li>
                    <li><a href="http://flask.pocoo.org/">Flask</a></li>
                    <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
                    <li><a href="http://glyphicons.com/">Glyphicons</a></li>
                    <li><a href="http://jquery.com/">jQuery</a></li>
                </ul>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block script %}
    {{ super() }}
    {% block mpd_script %}{% endblock %}
    <script src="{{ url_for('static', filename='js/about.js') }}"></script>
{% endblock %}
