<div class="container controls">
    <div class="btn-group">
        <button class="btn btn-default" type="button" id="play"><span class="glyphicon glyphicon-play"></span></button>
        <button class="btn btn-default" type="button" id="pause"><span class="glyphicon glyphicon-pause"></button>
        <button class="btn btn-default" type="button" id="stop"><span class="glyphicon glyphicon-stop"></button>
    </div>
    <div class="btn-group">
        <button class="btn btn-default" type="button" id="previous"><span class="glyphicon glyphicon-fast-backward"></button>
        <button class="btn btn-default" type="button" id="next"><span class="glyphicon glyphicon-fast-forward"></button>
    </div>
    <div class="btn-group">
        <button class="btn btn-default" type="button" id="random" title="Random"><span class="glyphicon glyphicon-random"></span></button>
        <button class="btn btn-default" type="button" id="repeat" title="Repeat"><span class="glyphicon glyphicon-repeat"></span></button>
        <button class="btn btn-default" type="button" id="consume" title="Consume"><span class="glyphicon glyphicon-circle-arrow-right"></span></button>
        <button class="btn btn-default" type="button" id="single" title="Single"><span class="glyphicon glyphicon-circle-arrow-down"></span></button>
    </div>
    <div class="btn-group">
        <button class="btn btn-default" type="button" id="volume-off"><span class="glyphicon glyphicon-volume-off"></button>
        <button class="btn btn-default" type="button" id="volume-down"><span class="glyphicon glyphicon-volume-down"></span></button>
        <button class="btn btn-default" type="button" id="volume-up"><span class="glyphicon glyphicon-volume-up"></button>
        <button class="btn btn-default disabled" type="button"><span id="status-volume"></span> %</button>
    </div>
</div>
