{% extends "layout.html" %}
{% block body %}
{{ super() }}
    <div class=currentsong>
        <p>
            <span id=currentsong-artist></span> -
            <span id=currentsong-title></span> -
            <span id=currentsong-album></span>
        </p>
        <p><span id=time-elapsed></span> / <span id=time-total></span></p>
    </div>
    <div class=controls>
        <button id=play type=button>Play</button>
        <button id=pause type=button>Pause</button>
        <button id=stop type=button>Stop</button>
        <button id=previous type=button>Previous</button>
        <button id=next type=button>Next</button>
    </div>
{% endblock %}
{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='currentsong.js') }}"></script>
{% endblock %}
