<div class="jumbotron currentsong">
    <div class="container currentsong">
        <h3><span id=currentsong-artist></span></h3>
        <h2><span id=currentsong-title></span></h2>
        <h3><span id=currentsong-album></span> <small><span id="currentsong-date"></span></small></h3>
        <div class="progress">
            <div id="time-progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0"></div>
        </div>
        <ul class="list-inline text-right">
            <li><p><small><span id="status-bitrate"></span> kbps</small></p></li>
            <li><p><small><span id="time-elapsed"></span> / <span id="time-total"></span></small></p></li>
        </ul>
    </div>
</div>
