<div id="currentsong-mini" class="jumbotron">
    <div class="container">
        <ul class="list-inline text-left h3">
            <li><span id="currentsong-artist"></span></li>
            <li><strong><span id="currentsong-title"></span></strong></li>
            <li><span id="currentsong-album"></span> <small><span id="currentsong-date"></span></small></li>
        </ul>
        <div class="progress">
            <div id="time-progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0"></div>
        </div>
        <ul class="list-inline text-right h4">
            <li><small><span id="status-bitrate"></span> kbps</small></li>
            <li><small><span id="time-elapsed"></span> / <span id="time-total"></span></small></li>
        </ul>
    </div>
</div>
