{% extends "layout.html" %}
{% block body %}
    {{ super() }}
    <div class=currentsong>
    <p>
        {{ currentsong['artist'] }}
         - {{ currentsong['title'] }} -
        {{ currentsong['album'] }}
    </p>
    <p>
        {{ songtime[0] }} / {{ songtime[1] }}
    </p>
    </div>
{% endblock %}
{% block debug %}
    {{ super() }}
    <table>
        <tr><th colspan=2 align=left>MPD currentsong</th></tr>
        {% for k in currentsong %}
        <tr><td class=key>{{ k }}</td><td>{{ currentsong[k] }}</td></tr>
        {% endfor %}
    </table>
{% endblock %}
