<!doctype html>
<html>
<head>
    <title>Impala</title>
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{% for message in get_flashed_messages() %}
<div class=flash>{{ message }}</div>
{% endfor %}
<div class=page>
    {% block body %}
    <div class=status>
        Connected to {{ session['server'] }}. 
        <a href="{{ url_for('disconnect') }}">Disconnect</a>
    </div>
    {% endblock %}
</div>
{% block script %}
<script>$SCRIPT_ROOT = {{ request.script_root|tojson }};</script>
<script src="{{ url_for('static', filename='jquery-2.1.1.min.js') }}"></script>
{% endblock %}
</body>
</html>
