<!doctype html>
<html>
<head>
    <title>Impala</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main') }}">Impala</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li id="nav-pl"><a href="{{ url_for('main') }}">Playlist</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="visible-xs-inline-block">Playlist</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" href="#" id="nav-pl-clear"><span class="glyphicon glyphicon-remove"></span> Clear</a></li>
                    </ul>
                </li>
                <li id="nav-lib"><a href="{{ url_for('library') }}">Library</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="visible-xs-inline-block">Database</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" href="#" id="nav-lib-update"><span class="glyphicon glyphicon-refresh"></span> Update</a></li>
                        <li role="presentation"><a role="menuitem" href="#" id="nav-lib-rescan"><span class="glyphicon glyphicon-hdd"></span> Rescan</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% block body %}{% endblock %}
{% block script %}
<script>$SCRIPT_ROOT = {{ request.script_root|tojson }};</script>
<script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
