{% extends "layout.html" %}
{% block content %}
    <div id="content" class="container">
        <div id="lib-artists" class="content col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <table id="artists" class="table table-hover">
                <thead>
                    <tr>
                        <th>Artist</th>
                        <th class="no-stretch"></th>
                        <th class="no-stretch"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div id="lib-albums" class="content col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <table id="albums" class="table table-hover">
                <thead>
                    <tr>
                        <th class="no-stretch">Date</th>
                        <th>Album</th>
                        <th class="no-stretch"></th>
                        <th class="no-stretch"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div id="lib-songs" class="content col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <table id="songs" class="table table-hover">
                <thead>
                    <tr>
                        <th class="no-stretch">#</th>
                        <th>Title</th>
                        <th class="no-stretch"></th>
                        <th class="no-stretch"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div id="lib-breadcrumbs" class="container-fluid hidden-sm hidden-md hidden-lg">
        <ol id="lib-breadcrumb" class="breadcrumb"></ol>
    </div>
{% endblock %}
{% block script %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/library.js') }}"></script>
{% endblock %}
