{% extends "layout.html" %}
{% block body %}
    {{ super() }}
    <div class="container library">
        <div class="col-library artists col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <table id="lib-artists" class="table table-hover">
                <thead>
                    <tr>
                        <th>Artist</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="col-library albums col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <table id="lib-albums" class="table table-hover">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Album</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="col-library songs col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <table id="lib-songs" class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div id="library-nav" class="container-fluid hidden-sm hidden-md hidden-lg">
        <ol id="lib-bc" class="breadcrumb"></ol>
    </div>
{% endblock %}
{% block script %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/library.js') }}"></script>
{% endblock %}
