{% extends "layout.html" %}
{% block content %}
    <div id="content" class="container">
        <table id="playlist" class="table table-hover">
            <thead>
                <tr>
                    <th class="pl-track hidden-xs no-stretch">#</th>
                    <th class="pl-title hidden-xs">Title</th>
                    <th class="pl-artist hidden-xs">Artist</th>
                    <th class="pl-album hidden-xs">Album</th>
                    <th class="pl-date hidden-xs no-stretch">Date</th>
                    <th class="pl-time hidden-xs no-stretch">Duration</th>
                    <th class="pl-xs hidden-sm hidden-md hidden-lg">Playlist</th>
                    <th class="pl-rm no-stretch"><span class="glyphicon glyphicon-remove"></span></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
{% endblock %}
{% block script %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/controls.js') }}"></script>
    <script src="{{ url_for('static', filename='js/impala.js') }}"></script>
    <script src="{{ url_for('static', filename='js/playlist.js') }}"></script>
{% endblock %}
