{% extends "layout.html" %}
{% block body %}
<div class="container playlist">
    <table id="playlist" class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Date</th>
                <th>Duration</th>
                <th class="pl-rm"><span class="glyphicon glyphicon-remove"></span></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
{% endblock %}
