#navbar.navbar-static-top {
  margin-bottom: 0px;
}
#navbar .navbar-collapse > ul > li > p.navbar-text {
  margin-left: 15px;
}
#nav-lib-updating {
  display: none;
}


#currentsong-mini.jumbotron {
  margin-bottom: 0px;
  padding-bottom: 6px;
  padding-top: 0px;
}
#currentsong-mini .progress,
#currentsong-mini .progress-bar {
    height: 6px;
}


#controls .controls {
    margin-top: 5px;
    margin-bottom: 5px;
}
#controls .controls-btn-group {
    margin-top: 3px;
    margin-bottom: 3px;
}


#content,
#content .content {
  overflow: auto;
}
@media (max-width: 767px) {
    #content {
        padding-left: 0px;
        padding-right: 0px;
    }
    #content .content {
        padding-left: 0px;
        padding-right: 0px;
    }
}


#quicknav .btn {
  border-radius: 0;
}


#currentsong .jumbotron {
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}
#currentsong .progress {
    margin-top: 16px;
    margin-bottom: 16px;
}
#currentsong .progress,
#currentsong .progress-bar {
    height: 6px;
}


#playlist tbody tr,
#playlist th.pl-rm,
#playlist td.pl-rm {
  cursor: pointer;
}
#playlist p {
    margin-bottom: 0px;
}


#lib-artists tbody tr,
#lib-albums tbody tr,
#lib-songs tbody tr {
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 991px) {
    #lib-albums {
        margin-bottom: 20px;
    }
}
#lib-breadcrumbs {
  margin: 0px;
  padding: 0px;
  width: 100%;
}
#lib-breadcrumb {
  margin-bottom: 0px;
  min-height: 36px;
}


th.no-stretch,
td.no-stretch {
    width: 1%;
    white-space: nowrap;
}

