.navbar-static-top {
  margin-bottom: 6px;
}
.navbar-collapse > ul > li > p.navbar-text {
  margin-left: 15px;
}
#nav-lib-updating {
  display: none;
}
.jumbotron.currentsong {
  margin-bottom: 6px;
  padding-bottom: 0px;
  padding-top: 0px;
}
.container.currentsong > ul > li > p {
  margin-bottom: 0px;
}
.container.currentsong > p,
.container.currentsong > h2,
.container.currentsong > h3 {
  min-height: 1em;
}
.container.controls {
  margin-bottom: 6px;
}
.container.playlist,
.container.library > .col-library {
  overflow: auto;
}
#playlist tbody tr,
#playlist th.pl-rm,
#playlist td.pl-rm,
#lib-artists tbody tr,
#lib-albums tbody tr,
#lib-songs tbody tr {
  cursor: pointer;
}
#lib-bc {
  margin-bottom: 0px;
}
